a{
    text-decoration: none;
    color: lightblue;
}
.fs{
    background-color: lightblue;
    border: 0.5px solid lightblue;
    border-radius: 15px;
}
.gold{
    color: gold;
}
.prod{
    padding: 10px;
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.f1{
    margin-top: 35px;
    border: 3px solid lightblue;
    border-radius: 10px;
}
