a{
    text-decoration: none;
    color: rgb(169, 135, 209);
}
.fs{
    background-color: rgb(213, 173, 230);
    border: 0.5px solid rgb(228, 173, 230);
    border-radius: 15px;
}
.gold{
    color: gold;
}
.prod{
    padding: 10px;
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.f1{
    margin-top: 35px;
    border: 3px solid rgb(140, 66, 192);
    border-radius: 10px;
}